* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-image: url('/TEST/Public/Picture/anh.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.menu {
    background-color: #c9a2ee;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    list-style: none;
    height: 70px;
    padding: 24px;
    justify-content: center;
    gap: 10%;
    display: flex;
}
/* Hiệu ứng cho các icon ở menu ngang */
.menu li {
    font-size: 35px;
    transition: all 0.3s ease; /* Tạo độ mượt */
    cursor: pointer;
    border-radius: 100%; /* Bo tròn để khi hover vào nhìn cân đối */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu li:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Nền trắng mờ nhẹ */
    transform: scale(1.2); /* Phóng to icon lên một chút */
    filter: brightness(1.2); /* Làm sáng icon */
    color: #fff; /* Đổi màu icon sang trắng nếu muốn */
}
.content {
    display: flex;
    width: 100%;
    height: calc(100vh - 70px);
}
.infor {
    margin: 5px;
    padding: 20px;
    width: 15%;
    height: 100vh;
    background-color: rgba(185, 208, 238, 0.8);
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

.infor-menu {
    list-style: none;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    gap: 50%;
    padding: 0;
    margin: 0;
    
}
.infor-menu li {

    transition: all 0.3s ease;
    cursor: pointer;
    border: 1px solid transparent;

    margin-bottom: 15px;
    padding: 10px 0;
    background-color:rgb(236, 244, 252);
    border-radius: 10px;
}

.infor-menu li:hover {
    background-color: #ffffff !important; /* Trắng rõ hơn */
    filter: brightness(1.05); /* Sáng hơn một chút */
    transform: translateX(10px); /* Dịch sang phải 10px tạo hiệu ứng tương tác */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
}

.infor-menu li i {
    margin-right: 12px; 
    padding-left: 10px;
    width: 20px;      
    text-align: center; 
    color: #333;       
}
.infor-menu li a {
    width:100%;
   
    padding: 20px, 20px;
    display:flex;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.main {
    display: flex;
    margin: 5px;
    padding: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: rgba(215, 173, 240, 0.8);
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}
