* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-image: url('/TEST/Public/Picture/anh.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.menu {
    background-color: #c9a2ee;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    list-style: none;
    height: 70px;
    padding: 24px;
    justify-content: center;
    gap: 10%;
    display: flex;
}
.menu li {
    font-size: 26px;
    margin-right: 20px;
}
.content {
    display: flex;
    width: 100%;
    height: 100%;
}
.infor {
    margin: 5px;
    padding: 20px;
    width: 15%;
    height: 100vh;
    background-color: rgba(185, 208, 238, 0.8);
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

.infor-menu {
    list-style: none;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    gap: 50%;
    padding: 0;
    margin: 0;
    
}
.infor-menu li {
    margin-bottom: 15px;
    padding: 10px 0;
    background-color:rgb(236, 244, 252);
    border-radius: 10px;
}
.infor-menu li i {
    margin-right: 12px; 
    padding-left: 10px;
    width: 20px;      
    text-align: center; 
    color: #333;       
}
.infor-menu li a {
    width:100%;
   
    padding: 20px, 20px;
    display:flex;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.main {
    margin: 5px;
    padding: 20px;
    width: 100%;
    background-color: rgba(215, 173, 240, 0.8);
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

}