
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-image: url('/TEST/Public/Picture/anh.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    height: 100vh;

    /*Căn theo chiều ngang*/
    justify-content: center;
     /*Căn theo chiều dọc*/
    align-items: center;

    display: flex;
    overflow: hidden;
}

.login {
    /*Khóa chiều rộng*/
    width: 350px;

    padding: 40px;
    margin-bottom: 50px;  
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur (12px); /**/
    -webkit-backdrop-filter: blur(12px);

    border-radius: 15px;
    padding: 25px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

}
.form-group {
    margin-top:5px;
    margin-bottom: 12px;
    text-align: left;
}
input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
  
}
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.forgot-password {
    display: block;
    margin-top: 6px;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}
